
/* configurações do cabeçalho */

header {
    background: rgb(255, 255, 160);
    padding: 20px 0;
}

.cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}